<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1>НОВЫЙ ФИЛЬМ</h1>

<form action="{{ url_for('new_film') }}" method="post">
    <table>
        <tr>
            <td><input type="text" placeholder="NAME" name="name"></td>
        </tr>
        <tr>
            <td><input type="text" placeholder="RAITING" name="rating"></td>
        </tr>
        <tr>
            <td><input type="text" placeholder="COUNTRY" name="country"></td>
        </tr>
        <tr>
            <td><input type="submit"></td>
        </tr>

    </table>
</form>
</body>
</html>